body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

#pageContents {
    margin: 10px;
    font-size: 23px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn {
    from {opacity: 0;}
}

.instruction {
    font-weight: bold;
}

#copyright {
    background-color: black;
    color: green;
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    height: 100px;
}

p {
    margin: 0px;
    padding: 0px;
}